.dsa-button {
  --dsa-button_primary--color: var(--ks-text-color-default-inverted);
  --dsa-button_primary--color_hover: var(--ks-text-color-default-inverted);
  --dsa-button_primary--color_active: var(--ks-text-color-default-inverted);
}
